/**
 * Copyright 2011 John Moore, Scott Gilroy
 *
 * This file is part of CollaboRhythm.
 *
 * CollaboRhythm is free software: you can redistribute it and/or modify it under the terms of the GNU General Public
 * License as published by the Free Software Foundation, either version 2 of the License, or (at your option) any later
 * version.
 *
 * CollaboRhythm is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
 * details.
 *
 * You should have received a copy of the GNU General Public License along with CollaboRhythm.  If not, see
 * <http://www.gnu.org/licenses/>.
 */

/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace chart "mx.charts.chartClasses.*";

@font-face
{
	src: url("/assets/fonts/MyriadPro-Regular.otf");
	fontFamily: MyriadProCFF;
	embedAsCFF: true;
}

@font-face
{
	src: url("/assets/fonts/MyriadPro-Bold.otf");
	fontFamily: MyriadProCFF;
	fontWeight: bold;
	embedAsCFF: true;
}

@font-face
{
	src: url("/assets/fonts/MyriadPro-It.otf");
	fontFamily: MyriadProCFF;
	fontStyle: italic;
	embedAsCFF: true;
}

@font-face
{
	src: url("/assets/fonts/MyriadPro-BoldIt.otf");
	fontFamily: MyriadProCFF;
	fontWeight: bold;
	fontStyle: italic;
	embedAsCFF: true;
}

@font-face
{
	src: url("/assets/fonts/MyriadPro-Regular.otf");
	fontFamily: MyriadPro;
	embedAsCFF: false;
}

@font-face
{
	src: url("/assets/fonts/MyriadPro-Bold.otf");
	fontFamily: MyriadPro;
	fontWeight: bold;
	embedAsCFF: false;
}

@font-face
{
	src: url("/assets/fonts/MyriadPro-It.otf");
	fontFamily: MyriadPro;
	fontStyle: italic;
	embedAsCFF: false;
}

@font-face
{
	src: url("/assets/fonts/MyriadPro-BoldIt.otf");
	fontFamily: MyriadPro;
	fontWeight: bold;
	fontStyle: italic;
	embedAsCFF: false;
}

global
{
	fontFamily: MyriadPro;
}

s|Label, s|RichText
{
	fontFamily: MyriadProCFF;
}

global
{
    /* framework styles */
    modalTransparency: 0;
    modalTransparencyBlur: 0;

    /* Looks */
    backgroundAlpha : 1;
    backgroundImageFillMode : "scale";
    borderVisible : true;
    borderWeight : 1;
    contentBackgroundColor: #F0F0F0;
    downColor: #E0E0E0; /* set in here and not in framework's default.css because it only is really applicable for touch interactions*/
    selectionColor: #E0E0E0;
    alternatingItemColors: #FFFFFF;
    focusThickness: 3;
    symbolColor: #000000;
    fontLookup: "embeddedCFF";
    /*fontFamily: "_sans";*/
    /*fontSize: 24;*/
    color: #000000;
    textShadowColor: #FFFFFF;
    textShadowAlpha: .55;

    /* Behaviors */
    autoThumbVisibility: true;
    fixedThumbSize: false;
    fullScreenHideControlsDelay: 3000;
    interactionMode: "touch";
    liveDragging: true;
    rollOverOpenDelay: 200;
    slideDuration: 300;
    smoothScrolling: true;
    touchDelay: 0; /* default to 0 here, but Scroller sets it to 100 */
}


s|Label
{
}

mx|DataGrid.WidgetGrid
{
	borderVisible: false;
	vertical-grid-lines: false;
	border-style: none;
	selection-color: #C1FFC5;
	roll-over-color: #7CFF77;
	contentBackgroundAlpha: 0.0;
	alternatingItemColors: ClassReference(null); /* no colors so that background (watermark) can show through */
	font-size: 14pt;
}

mx|DataGrid.ApplicationInfoGrid
{
    color: #000000;
	selection-color: #C1FFC5;
	roll-over-color: #7CFF77;
	contentBackgroundAlpha: 0.0;
	/*alternatingItemColors: ClassReference(null); *//* no colors so that background (watermark) can show through */
	font-size: 14pt;
}

mx|Image.WidgetWatermarkImage
{
	alpha: 0.2; /* Note: this doesn't work */
	vertical-align: bottom;
	horizontal-align: right;
	right: 0;
	bottom: 0;
}

s|ToggleButton.DebugToggleButton
{
	/* TODO: it would be nice if we could make the buttons invisible with a style or some other global */
}

s|Label.WidgetGridLabel, s|Label.InactiveWidgetGridLabel
{
	paddingBottom: 5;
	paddingLeft: 5;
	paddingRight: 5;
	paddingTop: 5;
}

s|Label.WidgetGridLabel
{
	color: #000000;
}

s|Label.InactiveWidgetGridLabel
{
	color: #999999;
}

s|Label.ZoneLabel
{
	color: #666666;
/*	fontWeight: bold;
*/	
	font-size: 16pt;
	padding-bottom: 1;
	padding-left: 3;
	padding-right: 3;
	padding-top: 3;
}

s|Label.MainChartTitleLabel
{
	color: #000000;
	font-size: 18pt;
	padding-bottom: 3;
	padding-left: 3;
	padding-right: 3;
	padding-top: 3;
}

chart|DataTip
{
	color: #FFFFFF;
	fontSize: 16;
	backgroundColor: #000000;
}

s|ViewNavigatorApplication
{
	backgroundColor: #E6E7E8;
}

s|View
{
	backgroundColor: #E6E7E8;
}

s|ViewMenu
{
	skinClass: ClassReference("collaboRhythm.tablet.view.skins.TabletViewMenuSkin");
}

s|ViewMenuItem
{
	skinClass: ClassReference("collaboRhythm.tablet.view.skins.TabletViewMenuItemSkin");
}

/*
s|Label.ActionBarLabel
{
	color: #000000;
	fontSize: 16;
}
*/

s|ActionBar
{
	paddingTop: 0;
	paddingBottom: 0;
	backgroundAlpha: 0;
	color: #F3F3F3;
	textShadowAlpha: 0;
	textShadowColor: #000000;
	skinClass: ClassReference("collaboRhythm.tablet.view.skins.TabletActionBarSkin");
}

s|ActionBar #titleDisplay
{
    fontWeight: "normal";
}

s|ActionBar s|ButtonBase
{
	fontWeight: "normal";
}

s|ActionBar s|Button
{
    fontWeight: "normal";
	chromeColor: #6dcaec;
}

s|ActionBar s|Group#navigationGroup s|Button
{
	skinClass: ClassReference("collaboRhythm.tablet.view.skins.TabletTransparentNavigationButtonSkin");
}

s|ActionBar s|Group#actionGroup s|Button
{
	skinClass: ClassReference("collaboRhythm.tablet.view.skins.TabletTransparentActionButtonSkin");
}

s|List
{
	selectionColor: #8ad6f0;
	downColor: #6dcaec;
}

@media (application-dpi: 320) {
	#activeRecordGivenName
	{
		fontSize: 30;
	}

	#activeRecordFamilyName
	{
		fontSize: 40;
	}
}

@media (application-dpi: 240) {
	#activeRecordGivenName
	{
		fontSize: 22;
	}

	#activeRecordFamilyName
	{
		fontSize: 30;
	}
}

@media (application-dpi: 160) {
	#activeRecordGivenName
	{
		fontSize: 14;
	}

	#activeRecordFamilyName
	{
		fontSize: 18;
	}
}

