Application {
   backgroundColor: #cccccc;
   backgroundGradientColors: #bdcbd2, #5a8398;
}
Button {
   highlightAlphas: 1, 0.33;
   fillAlphas: 1, 0.16, 0.18, 1;
   fillColors: #5f89b9, #697182, #ffffff, #eeeeee;
}
Panel {
	headerHeight: 26;
	roundedBottomCorners: true;
	borderThicknessTop: 0;
	borderThicknessBottom: 3;
	borderThicknessLeft: 3;
	borderThicknessRight: 3;
	borderAlpha: 1.0;
	titleStyleName: "mypanelTitle";
}
.mypanelTitle {
	fontFamily: Arial;
	fontSize: 10;
	fontWeight: bold;
}
.closeBtn {
	upSkin:        Embed('/assets/img/closeButton.png');
	overSkin:      Embed('/assets/img/closeButton.png');
	downSkin:      Embed('/assets/img/closeButton.png');
	disabledSkin:  Embed('/assets/img/closeButton.png');
}
.increaseBtn {
	upSkin:        Embed('/assets/img/increaseButton.png');
	overSkin:      Embed('/assets/img/increaseButton.png');
	downSkin:      Embed('/assets/img/increaseButton.png');
	disabledSkin:  Embed('/assets/img/increaseButton.png');
}
.decreaseBtn {
	upSkin:        Embed('/assets/img/decreaseButton.png');
	overSkin:      Embed('/assets/img/decreaseButton.png');
	downSkin:      Embed('/assets/img/decreaseButton.png');
	disabledSkin:  Embed('/assets/img/decreaseButton.png');
}
.minimizeBtn {
	upSkin:        Embed('/assets/img/minimizeButton.png');
	overSkin:      Embed('/assets/img/minimizeButton.png');
	downSkin:      Embed('/assets/img/minimizeButton.png');
	disabledSkin:  Embed('/assets/img/minimizeButton.png');
}
.resizeHndlr {
	upSkin:        Embed('/assets/img/resizeHandler.png');
	overSkin:      Embed('/assets/img/resizeHandler.png');
	downSkin:      Embed('/assets/img/resizeHandler.png');
	disabledSkin:  Embed('/assets/img/resizeHandler.png');
}