<?xml version="1.0" encoding="utf-8"?>
<!--~
  ~ Copyright 2011 John Moore, Scott Gilroy
  ~
  ~ This file is part of CollaboRhythm.
  ~
  ~ CollaboRhythm is free software: you can redistribute it and/or modify it under the terms of the GNU General Public
  ~ License as published by the Free Software Foundation, either version 2 of the License, or (at your option) any later
  ~ version.
  ~
  ~ CollaboRhythm is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU General Public License along with CollaboRhythm.  If not, see
  ~ <http://www.gnu.org/licenses/>.
  -->
<settings xmlns="http://collaborhythm.org/application/settings">
	<mode>clinician</mode>
	<indivoServerBaseURL>http://184.106.136.151:8000</indivoServerBaseURL>
	<username>jking</username>
	<password>jking-dope75</password>
	<useFileTarget>true</useFileTarget>
	<useTraceTarget>true</useTraceTarget>
	<useSyslogTarget>true</useSyslogTarget>
	<logSourceIdentifier>CollaboRhythmDefault</logSourceIdentifier>
	<syslogServerIpAddress>collaborhythm.media.mit.edu</syslogServerIpAddress>
	<rtmpBaseURI>rtmp://collaborhythm.media.mit.edu</rtmpBaseURI>
	<debuggingToolsEnabled>true</debuggingToolsEnabled>
	<oauthChromeConsumerKey>collaboRhythmChrome</oauthChromeConsumerKey>
	<oauthChromeConsumerSecret>collaboRhythmChrome_secret93452</oauthChromeConsumerSecret>
	<pluginSearchPaths>
		<pluginSearchPath>$APPLICATION_STORAGE_DIRECTORY$/plugins/SchedulePluginModule.swf</pluginSearchPath>
		<pluginSearchPath>$APPLICATION_STORAGE_DIRECTORY$/plugins/HealthChartsPluginModule.swf</pluginSearchPath>
		<pluginSearchPath>$APPLICATION_STORAGE_DIRECTORY$/plugins/MedicationsPluginModule.swf</pluginSearchPath>
		<pluginSearchPath>$APPLICATION_STORAGE_DIRECTORY$/plugins/EquipmentPluginModule.swf</pluginSearchPath>
		<pluginSearchPath>$APPLICATION_STORAGE_DIRECTORY$/plugins</pluginSearchPath>
		<!-- The following paths are to allow the plugins to load during development without deploying them -->
		<pluginSearchPath>$APPLICATION_DIRECTORY$/../../CollaboRhythm.Plugins.Schedule/bin-debug</pluginSearchPath>
		<pluginSearchPath>$APPLICATION_DIRECTORY$/../../CollaboRhythm.Plugins.HealthCharts/bin-debug</pluginSearchPath>
		<pluginSearchPath>$APPLICATION_DIRECTORY$/../../CollaboRhythm.Plugins.Medications/bin-debug</pluginSearchPath>
		<pluginSearchPath>$APPLICATION_DIRECTORY$/../../CollaboRhythm.Plugins.Equipment/bin-debug</pluginSearchPath>
		<pluginSearchPath>$APPLICATION_DIRECTORY$/../../CollaboRhythm.Plugins.BloodPressure/bin-debug</pluginSearchPath>
		<pluginSearchPath>$APPLICATION_DIRECTORY$/../../CollaboRhythm.Plugins.VideoMessages/bin-debug</pluginSearchPath>
		<pluginSearchPath>$APPLICATION_DIRECTORY$/../../CollaboRhythm.Plugins.ForaD40b/bin-debug</pluginSearchPath>
		<pluginSearchPath>$APPLICATION_DIRECTORY$/../../CollaboRhythm.Plugins.HealthActions/bin-debug</pluginSearchPath>
		<pluginSearchPath>$APPLICATION_DIRECTORY$/../../CollaboRhythm.Plugins.PainReport/bin-debug</pluginSearchPath>
		<pluginSearchPath>$APPLICATION_DIRECTORY$/../../CollaboRhythm.Plugins.Equipment.PillBox/bin-debug</pluginSearchPath>
		<pluginSearchPath>$APPLICATION_DIRECTORY$/../../CollaboRhythm.Plugins.BlingAvatar/bin-debug</pluginSearchPath>
		<pluginSearchPath>$APPLICATION_DIRECTORY$/../../CollaboRhythm.Plugins.InsulinTitrationSupport/bin-debug</pluginSearchPath>
		<!-- This path is for the plugins that are installed with the application -->
		<pluginSearchPath>$APPLICATION_DIRECTORY$/plugins/SchedulePluginModule.swf</pluginSearchPath>
		<pluginSearchPath>$APPLICATION_DIRECTORY$/plugins/HealthChartsPluginModule.swf</pluginSearchPath>
		<pluginSearchPath>$APPLICATION_DIRECTORY$/plugins/MedicationsPluginModule.swf</pluginSearchPath>
		<pluginSearchPath>$APPLICATION_DIRECTORY$/plugins/EquipmentPluginModule.swf</pluginSearchPath>
		<pluginSearchPath>$APPLICATION_DIRECTORY$/plugins</pluginSearchPath>
	</pluginSearchPaths>
	<demoModeEnabled>true</demoModeEnabled>
	<targetDate>2011-08-13T10:40:00-5:00</targetDate>
	<demoDatePresets>
		<demoDatePreset>2011-07-14T09:10:00-5:00</demoDatePreset>
		<demoDatePreset>2011-07-17T00:20:00Z</demoDatePreset>
		<demoDatePreset>2011-07-21T20:30:00-5:00</demoDatePreset>
		<demoDatePreset>2011-08-13T10:40:00-5:00</demoDatePreset>
	</demoDatePresets>
	<appGroups>
		<appGroup id="custom">
			<appDescriptors>
				<appDescriptor>collaboRhythm.plugins.schedule.controller::ScheduleAppController</appDescriptor>
				<appDescriptor>collaboRhythm.plugins.healthCharts.controller::HealthChartsAppController</appDescriptor>
			</appDescriptors>
		</appGroup>
		<appGroup id="standard">
			<appDescriptors>
				<appDescriptor>collaboRhythm.plugins.medications.controller::MedicationsAppController</appDescriptor>
				<appDescriptor>collaboRhythm.plugins.equipment.controller::EquipmentAppController</appDescriptor>
			</appDescriptors>
		</appGroup>
	</appGroups>
<!--
	Some other possible apps:
				<appDescriptor>collaboRhythm.plugins.problems.controller::ProblemsAppController</appDescriptor>
				<appDescriptor>collaboRhythm.shared.apps.procedures.controller::ProceduresAppController</appDescriptor>
				<appDescriptor>collaboRhythm.shared.apps.immunizations.controller::ImmunizationsAppController</appDescriptor>

				<appDescriptor>collaboRhythm.plugins.medications.controller::MedicationsAppController</appDescriptor>
				<appDescriptor>collaboRhythm.shared.apps.allergies.controller::AllergiesAppController</appDescriptor>
				<appDescriptor>collaboRhythm.plugins.equipment.controller::EquipmentAppController</appDescriptor>

				<appDescriptor>collaboRhythm.shared.apps.genetics.controller::GeneticsAppController</appDescriptor>
				<appDescriptor>collaboRhythm.shared.apps.familyHistory.controller::FamilyHistoryAppController</appDescriptor>
				<appDescriptor>collaboRhythm.shared.apps.socialHistory.controller::SocialHistoryAppController</appDescriptor>

				<appDescriptor>collaboRhythm.shared.apps.vitals.controller::VitalsAppController</appDescriptor>
				<appDescriptor>collaboRhythm.shared.apps.labs.controller::LabsAppController</appDescriptor>
				<appDescriptor>collaboRhythm.shared.apps.imaging.controller::ImagingAppController</appDescriptor>

				<appDescriptor>collaboRhythm.plugins.schedule.controller::ScheduleAppController</appDescriptor>
				<appDescriptor>collaboRhythm.shared.apps.bloodPressureAgent.controller::BloodPressureAgentAppController</appDescriptor>
				<appDescriptor>collaboRhythm.plugins.bloodPressure.controller::BloodPressureChartAppController</appDescriptor>
				<appDescriptor>collaboRhythm.plugins.bloodPressure.controller::BloodPressureAppController</appDescriptor>
				<appDescriptor>collaboRhythm.plugins.cataractMap.controller::CataractMapAppController</appDescriptor>
-->

<!--  
	useSingleScreen - If no valid windowSettings.xml file exists or resetWindowSettings = true, then force the app to only use a single screen (one window)
	resetWindowSettings - Ignore the windowSettings.xml and reset the position/size of all windows 
	<resetWindowSettings>true</resetWindowSettings>
  <useSingleScreen>true</useSingleScreen>
  
	targetDate can be used for a demo to change the current date
  <targetDate>2010/01/01</targetDate>
-->
</settings>