/** 
 * Common CSS definitions for the Adobe Directory
 */

@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace app "library://ns.adobe.com/flex/mx";
/*
s|WindowedApplication,
s|Window
{
	font-family: "Myriad Web";
	font-size: 12;
	embedAsCFF: true;
	font-anti-alias-type:advanced;
	disabled-overlay-alpha: 0;
	chrome-color: #444444;
	color: #AAAAAA;
	text-roll-over-color: #AAAAAA;
	text-selected-color: #AAAAAA;
}
*/
/*s|Label,*/ .micExTitleText, .micExTitleTextGrey, .micExTitleTextBlack, .micExTitleTextGrey, .micExTitleTextBlack, .micExMessageText, .micExInfoText, .footerPTText, .footerText
{
	background-alpha: 0;
	font-size: 12;
}

/*s|Button, s|ToggleButton,*/ .appCloseButton, .recordButton, .playButton, .saveOpenButton, .helpButton, .leftArrowButton, .rightArrowButton
{
	skin-class: ClassReference("controls.skins.IconButtonSkin");
}
/*
s|HSlider s|Label
{
}

mx|ToolTip
{
	background-color: #353535;
	border-color: #444444;
	color: #DDDDDD;	
}
*/

/** Font Info **/
@font-face 
{
	src:url("/embed_assets/fonts/MYRIAD.TTF");
	font-family: "Myriad Web";
	advanced-anti-aliasing: true;
	embedAsCFF: true;
}

@font-face 
{
	src:url("/embed_assets/fonts/MYRIADB_0.TTF");
	font-family: "Myriad Web Bold";
	font-weight: bold;
	advanced-anti-aliasing: true;
	embedAsCFF: true;
}

@font-face 
{
	src:url("/embed_assets/fonts/MyriadPro-Black.otf");
	font-family: "Myriad Pro Black";
	embedAsCFF: true;

}

.vbButtonsRadioItem
{
	height: 5
}

.micExTitleText, .micExTitleTextGrey, .micExTitleTextBlack
{
	font-size: 12;
	color: #FFFFFF;
	font-family: "Myriad Pro Black";
	fontLookup: embeddedCFF;

}

.micExTitleTextGrey
{
	color: #888888;
	fontLookup: embeddedCFF;
}
.micExTitleTextBlack
{
	color: #222222;
}

.micExInfoText
{
	font-size: 12;
	color: #EEEEEE;	
	padding-left: 20;
}
.footerText, .footerPTText
{
	color: #DDDDDD;	
}
.footerPTText
{
	padding-top:6;	
}
.micExMessageText
{
	font-size: 13;
	color: #121212;
	font-family: "Myriad Pro Black";
}


.appCloseButton
{
	up-skin: Embed("/embed_assets/dark/titlebar/close_up.png");
	over-skin: Embed("/embed_assets/dark/titlebar/close_over.png");
	down-skin: Embed("/embed_assets/dark/titlebar/close_pressed.png");
}

.recordButton
{
	up-skin: Embed("/embed_assets/dark/buttons/record_up.png");
	over-skin: Embed("/embed_assets/dark/buttons/record_over.png");
	down-skin: Embed("/embed_assets/dark/buttons/record_down.png");
	selected-up-skin: Embed("/embed_assets/dark/buttons/record_down.png");
	selected-over-skin: Embed("/embed_assets/dark/buttons/record_down.png");
	selected-down-skin: Embed("/embed_assets/dark/buttons/record_down.png");
	disabled-skin: Embed("/embed_assets/dark/buttons/record_up.png");
}

.playButton
{
	up-skin: Embed("/embed_assets/dark/buttons/play_up.png");
	over-skin: Embed("/embed_assets/dark/buttons/play_over.png");
	down-skin: Embed("/embed_assets/dark/buttons/play_down.png");
	selected-up-skin: Embed("/embed_assets/dark/buttons/play_down.png");
	selected-over-skin: Embed("/embed_assets/dark/buttons/play_down.png");
	selected-down-skin: Embed("/embed_assets/dark/buttons/play_down.png");
	disabled-skin: Embed("/embed_assets/dark/buttons/play_up.png");
}

.saveOpenButton
{
	up-skin: Embed("/embed_assets/dark/buttons/saveopen_up.png");
	over-skin: Embed("/embed_assets/dark/buttons/saveopen_over.png");
	down-skin: Embed("/embed_assets/dark/buttons/saveopen_up.png");
	disabled-skin: Embed("/embed_assets/dark/buttons/saveopen_disabled.png");
}

.helpButton
{
	up-skin: Embed("/embed_assets/dark/buttons/help_up.png");
	over-skin: Embed("/embed_assets/dark/buttons/help_over.png");
	down-skin: Embed("/embed_assets/dark/buttons/help_pressed.png");
	selected-up-skin: Embed("/embed_assets/dark/buttons/help_pressed.png");
	selected-over-skin: Embed("/embed_assets/dark/buttons/help_pressed.png");
	selected-down-skin: Embed("/embed_assets/dark/buttons/help_pressed.png");
}

.leftArrowButton
{
	up-skin: Embed("/embed_assets/dark/arrows/arrow_left_up.png");
	over-skin: Embed("/embed_assets/dark/arrows/arrow_left_over.png");
	down-skin: Embed("/embed_assets/dark/arrows/arrow_left_pressed.png");
	disabled-skin: Embed("/embed_assets/dark/arrows/arrow_left_disabled.png");
}

.rightArrowButton
{
	up-skin: Embed("/embed_assets/dark/arrows/arrow_right_up.png");
	over-skin: Embed("/embed_assets/dark/arrows/arrow_right_over.png");
	down-skin: Embed("/embed_assets/dark/arrows/arrow_right_pressed.png");
	disabled-skin: Embed("/embed_assets/dark/arrows/arrow_right_disabled.png");
}

.micExComboBoxText
{
	font-size: 10;
	font-weight: bold;
	text-align: left;
	text-indent: 4;	
}

.micExComboBoxDropDown
{
	font-size: 10;
	text-indent: 4;
	background-color: #666666;
}
