<?xml version="1.0" encoding="utf-8"?>
<!--~
  ~ Copyright 2011 John Moore, Scott Gilroy
  ~
  ~ This file is part of CollaboRhythm.
  ~
  ~ CollaboRhythm is free software: you can redistribute it and/or modify it under the terms of the GNU General Public
  ~ License as published by the Free Software Foundation, either version 2 of the License, or (at your option) any later
  ~ version.
  ~
  ~ CollaboRhythm is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU General Public License along with CollaboRhythm.  If not, see
  ~ <http://www.gnu.org/licenses/>.
  -->
<settings xmlns="http://collaborhythm.org/application/settings">
	<mode>patient</mode>
	<indivoServerBaseURL>http://184.106.136.151:8000</indivoServerBaseURL>
	<username>csantos</username>
	<password>csantos-dope75</password>
	<useFileTarget>true</useFileTarget>
	<useTraceTarget>true</useTraceTarget>
	<useSyslogTarget>true</useSyslogTarget>
	<logSourceIdentifier>CollaboRhythmDefault</logSourceIdentifier>
	<syslogServerIpAddress>collaborhythm.media.mit.edu</syslogServerIpAddress>
	<rtmpBaseURI>rtmp://collaborhythm.media.mit.edu</rtmpBaseURI>
	<debuggingToolsEnabled>true</debuggingToolsEnabled>
	<oauthChromeConsumerKey>collaboRhythmChrome</oauthChromeConsumerKey>
	<oauthChromeConsumerSecret>collaboRhythmChrome_secret93452</oauthChromeConsumerSecret>
	<pluginSearchPaths>
		<pluginSearchPath>$APPLICATION_STORAGE_DIRECTORY$/plugins</pluginSearchPath>
		<!-- The following paths are to allow the plugins to load during development without deploying them -->
		<pluginSearchPath>$APPLICATION_DIRECTORY$/../../CollaboRhythm.Plugins.BloodPressure/bin-debug</pluginSearchPath>
		<pluginSearchPath>$APPLICATION_DIRECTORY$/../../CollaboRhythm.Plugins.Equipment/bin-debug</pluginSearchPath>
		<pluginSearchPath>$APPLICATION_DIRECTORY$/../../CollaboRhythm.Plugins.Medications/bin-debug</pluginSearchPath>
		<pluginSearchPath>$APPLICATION_DIRECTORY$/../../CollaboRhythm.Plugins.Schedule/bin-debug</pluginSearchPath>
		<pluginSearchPath>$APPLICATION_DIRECTORY$/../../CollaboRhythm.Plugins.VideoMessages/bin-debug</pluginSearchPath>
		<pluginSearchPath>$APPLICATION_DIRECTORY$/../../CollaboRhythm.Plugins.ForaD40b/bin-debug</pluginSearchPath>
		<pluginSearchPath>$APPLICATION_DIRECTORY$/../../CollaboRhythm.Plugins.HealthActions/bin-debug</pluginSearchPath>
		<pluginSearchPath>$APPLICATION_DIRECTORY$/../../CollaboRhythm.Plugins.PainReport/bin-debug</pluginSearchPath>
		<pluginSearchPath>$APPLICATION_DIRECTORY$/../../CollaboRhythm.Plugins.HealthCharts/bin-debug</pluginSearchPath>
		<pluginSearchPath>$APPLICATION_DIRECTORY$/../../CollaboRhythm.Plugins.Equipment.PillBox/bin-debug</pluginSearchPath>
		<pluginSearchPath>$APPLICATION_DIRECTORY$/../../CollaboRhythm.Plugins.BlingAvatar/bin-debug</pluginSearchPath>
		<!-- This path is for the plugins that are installed with the application -->
		<pluginSearchPath>$APPLICATION_DIRECTORY$/plugins</pluginSearchPath>
	</pluginSearchPaths>
	<targetDate>2011-08-13T10:40:00-5:00</targetDate>
	<demoDatePresets>
		<demoDatePreset>2011-07-14T09:10:00-5:00</demoDatePreset>
		<demoDatePreset>2011-07-17T00:20:00Z</demoDatePreset>
		<demoDatePreset>2011-07-21T20:30:00-5:00</demoDatePreset>
		<demoDatePreset>2011-08-13T10:40:00-5:00</demoDatePreset>
	</demoDatePresets>
	<appGroups>
		<appGroup id="mainWidgets">
			<appDescriptors>
				<appDescriptor>collaboRhythm.plugins.schedule.controller::ScheduleAppController</appDescriptor>
			</appDescriptors>
		</appGroup>
		<appGroup id="buttonWidgets">
			<appDescriptors>
				<appDescriptor>collaboRhythm.plugins.healthActions.controller::HealthActionsAppController</appDescriptor>
				<appDescriptor>collaboRhythm.plugins.healthCharts.controller::HealthChartsAppController</appDescriptor>
				<appDescriptor>collaboRhythm.plugins.videoMessages.controller::VideoMessagesAppController</appDescriptor>
				<appDescriptor>collaboRhythm.plugins.blingAvatar.controller::BlingAvatarAppController</appDescriptor>
			</appDescriptors>
		</appGroup>
	</appGroups>
</settings>